{% extends 'blog/base.html' %}

{% block content %}
	{% for post in posts %}
		<div class="post">
        		<div class="date">
					<p>Опубликовано: {{ post.published_date }}</p>
				</div>
				<h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
				<p>{{ post.text|truncatewords:100|safe }}</p>
            	<p><a href="{% url 'post_detail' pk=post.pk %}">Читать полностью</a></p>
				<p><a href="{% url 'post_detail' pk=post.pk %}">Комментарии: {{ post.comments.count }}</a></p>
		</div>
	{% endfor %}

	<div class="pages" align="center">

            {% if posts.has_previous %}
                <a href="?page={{ posts.previous_page_number }}">Предыдущая</a>
            {% endif %}

            <span class="current">
                Страница {{ posts.number }} из {{ posts.paginator.num_pages }}.
            </span>

            {% if posts.has_next %}
                <a href="?page={{ posts.next_page_number }}">Следующая</a>
            {% endif %}
        </div>
{% endblock %}
        