{% extends 'blog/base.html' %}

{% block content %}
	{% for post in posts %}
		<div class="card mb-4">
          <div class="card-body">
			  <div class="post">
        		<div class="date">
					<p>{{ post.published_date }}</p>
				</div>
				<h1><a>{{ post.title }}</a></h1>
				<p>{{ post.text|truncatewords:100|safe }}</p>

            	<p><a href="{% url 'post_detail' pk=post.pk %}" class="btn btn-info">Read completely</a></p>
				<p><a href="{% url 'post_detail' pk=post.pk %}" class="btn btn-info">Comments: {{ post.comments.count }}</a></p>
				</div>
		  </div>
        </div>
	{% endfor %}

<!--		&lt;!&ndash; Pagination &ndash;&gt;-->
<!--        <ul class="pagination justify-content-center mb-4">-->
<!--          <li class="page-item">-->
<!--            <a class="page-link" href="#">&larr; Older</a>-->
<!--          </li>-->
<!--          <li class="page-item disabled">-->
<!--            <a class="page-link" href="#">Newer &rarr;</a>-->
<!--          </li>-->
<!--        </ul>-->

		<div class="pages" align="center">
            <ul class="pagination justify-content-center mb-4">
            {% if posts.has_previous %}
                <a href="?page={{ posts.previous_page_number }}">Previous</a>
            {% endif %}

            <span class="current">
                Page {{ posts.number }} of {{ posts.paginator.num_pages }}
            </span>

            {% if posts.has_next %}
                <a href="?page={{ posts.next_page_number }}">Next</a>
            {% endif %}
            </ul>
        </div>


{% endblock %}
        